<footer class="footer-contant">
  <div class="footer-quick-links">
    <div class="f-info-text">
      <p class="f-copyright">&copy; Wanderlust Private Limited</p>
    </div>
    <div class="f-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Tarms & Conditions</a>
    </div>
  </div>
  <div class="scroll-up">
    <a href="#top"><i class="fa-solid fa-arrow-up"></i></a>
  </div>
</footer>
